@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Michroma&family=Spicy+Rice&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

nav {
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3D3F53;
  padding: 10px 20px;
  position: fixed;
  width: 100%;
}

nav .logo {
  color: #EAEFEF;
  font-size: 20px;
  font-family: 'Spicy Rice';
}

nav ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  margin-left: 5rem;
}

nav ul li a {
  text-decoration: none;
  color: #EAEFEF;
  transition: 0.3s;
}

nav ul li a:hover {
  color: #7F8CAA;
}

.cari {
  width: 60%;
}

.search {
  --padding: 0.2rem;

  width: max-content;
  display: flex;
  justify-content: start;
  align-items: center;
  padding: var(--padding);
  border-radius: 1rem;
  background: #ffffff;
}

.search input {
  font-family: 'Lexend', sans-serif;
  border: none;
  padding: 0.1rem;
  border-radius: 3rem;
  outline: none;
  margin-left: var(--padding);
  background: transparent;
  flex: 1;
  width: 15rem;
}

.search-input::placeholder {
  color: rgba(0, 0, 0, 0.25);
}

.search:focus-within {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.75);
}

.w3-container {
  height: 15rem;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}

.title {
  font-size: 3rem;
  padding-top: 9rem;
  font-family: "Michroma", sans-serif;
}

.container-bg {
  background-image: url('image/Bg.png');
  background-size: cover;
  height: 100%;
}
.carousel-inner{
  border-radius: 1rem;
}
.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.cover {
  display: flex;
  justify-content: center;
  margin: 5rem;
}

.cover .img {
  margin-top: 3rem;
}

.kategori {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  margin: 5rem;
}

.card {
  border-radius: 1rem;
  overflow: hidden;
  height: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(70%);
  transition: 0.3s;
}

.card:hover img {
  filter: brightness(50%);
  transform: scale(1.05);
}

.card span {
  position: absolute;
  z-index: 2;
}

.menu {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5rem;
  padding: auto;
  max-width: 100%;
  margin: 5rem;
}

.menu a {
  text-decoration: none;
}

.menu-item {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
  border: 0.1rem solid #ddd;
  border-radius: 1rem;
  background: #fff;
  cursor: pointer;
  transition: 0.3s;
}

.menu-item h3 {
  font-size: 1.5rem;
  color: #333;
  margin-left: 6rem;
  font-weight: bold;
}

.menu-item:hover {
  border-color: #333;
  transform: scale(1.03);
}

.menu-item img {
  width: 6rem;
  height: 6rem;
  border-radius: 0.5rem;
}
.buku-populer{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.populer {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Michroma", sans-serif
}
.populer h2{
  font-family: "Michroma", sans-serif;
}
.rekomendasi {
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.rekomendasi h2{
  font-family: "Michroma", sans-serif;
}
.books {
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
}

.book {
  width: 10rem;
  height: 13rem;
  overflow: hidden;
  box-shadow: 0 0.5rem 0.5rem rgba(0, 0, 0, 0.15);
  transition: transform 0.3s;
}

.book:hover {
  transform: translateY(-1rem);
}

.book img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.lihat-lebih {
  margin: 5rem;
  color: #333;
  font-size: medium;
  text-decoration: none;
}

.view-all {
  margin: 5rem;
}

.plat p {
  text-align: left;
}

.book-info {
  display: flex;
  gap: 2rem;
  padding: 3rem;

}

.book-cover img {
  width: 10rem;
}

.book-details h1 {
  margin: 0;
  color: #222;
}

.book-details p {
  margin: 1rem 0;
}
.read-count {
  font-size: 0.875rem;
  color: #666;
}

.synopsis {
  background: #ffffff;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 2rem;
}

.synopsis h2 {
  margin-top: 0;
}

.synopsis p {
  line-height: 1.6;
  text-align: justify;
}

footer {
  background-color: #36384d;
  color: white;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.footer-left {
  max-width: 100%;
}

.footer-left h2 {
  margin: 2rem;
  font-family: "Spicy Rice", serif;
  color: #EAEFEF;
}

.footer-left p {
  margin: 2rem;
  font-size: small;
  color: #EAEFEF;
}

.footer-right {
  text-align: right;
  font-size: medium;
}

.footer-right p {
  margin: 2rem;
  color: #EAEFEF;
}

.footer-bottom {
  margin-top: 1rem;
  text-align: center;
  background: #333446;
  padding: 1rem;
}